// global.scss
// variables.scss
$primary-color: #fe4e5e;
$background-color: #fefefe;
$padding: 124px;
// :export {
//     primaryColor: $primary-color;
//     backgroundColor: $background-color;
//     padding: $padding;
// }

/*end*/
