.element-card {
    cursor: default;
    text-align: center;
    user-select: none;
    .card-id {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .card-name {
        position: absolute;
        top: 40px;
        left: 0px;
        right: 0;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-detail {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
    }
}

.lucky-element-card {
    cursor: default;
    text-align: center;
    &::before {
        background-color: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
        border: 1px solid linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    }

    .card-id {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .card-name {
        position: absolute;
        top: 40px;
        left: 0px;
        right: 0;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        // animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        // animation-delay: 0.6s;
    }

    .card-detail {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
    }
}
